@font-face { 
  font-family: AR;
  src: url(./assets//fonts//arb.otf);
  }

  @font-face { 
    font-family: HN;
    src: url(./assets//fonts//HelveticaNeue.ttc);
    }

    

    #sec10{
      width: 100%; display: flex; margin-top: 50px;
    }

  .news-card-con{
    display: flex; justify-content: space-between; margin-top: -80px;
  }

    .i-card-one-con{
      width: 40%;
    }

    .industrie-con{
      display: flex;
    }

    .product-card{
      width: calc(80vw / 3)
    }

    #sec6{
      width: 30%; margin-top: 40px 
    }

    .intra1{
      position: absolute; top: 10px; left: 26%;
    }

    .intra2{
      position: absolute; top: 10px; left: 58%;
    }

    .intra3{
      position: absolute; top: 160px; left: 5%;
    }

    .intra4{
      position: absolute; top: 130px; right: 0%;
    }

    .intra5{
      position: absolute; top: 350px; left: 13%;
    }

    .intra6{
      position: absolute; top: 300px; right: 5%;
    }

    .intra7{
      position: absolute; top: 440px; right: 33%;
    }

    .intra8{
      position: absolute; top: 230px; right: 42%;
      
    }

.leader-card{
  width: calc(65vw / 3);
  position: relative;
  height: 350px;
  background: white;
}

    #sec4{
      margin-left: 2%;
      margin-top: -120px; 
      position: relative;
      /* display: none; */
    }

    .misson-1{
      width: 25%;
    }

    .misson-2{
      width: 30%;
    }

    .misson-3{
      width: 55%;
    }

    .about-us-con{
      display: flex;
    }

    .main-text{
      top: 35%;
       /* left: 50px; */
        /* width: 470px; */
    }

    .circle{
      width: 500px;
      height: 500px;
    }
    .circle-con{
      margin-bottom: 20px;
    }
    html{
  scroll-behavior: smooth;

    }

    .about-us{
      width: 50%;
    }

    #sec9{
      display: flex;
    }

    .sec10-one{
      width: 40%;
    }

    .sec10-two{
      width: 56%;
    }

    #sec11{
      display: flex;
    }

    .footer{
      display: flex;
      height: 80px;
    }
    .news-card{
      width: calc(100% / 3); height: 300px;
    }
    .news-card-image{
      height: 200px;  width: calc(80vw / 3) ;
    }

   
    @media screen and (min-device-width: 360px) and (max-device-width: 512px)  { 

      .oil-and-gas{
        height: 350px !important;
      }
      .env{
        height: 350px !important;
         width: 100% !important;
      }
      .security{
        height: 350px !important;
        width: 100% !important;
      }
      .security-con{
        margin-top: 10px !important;
        width: 70% !important;
      }

      .news-card{
        width: 800px !important; height: 300px;
      }

      .news-card-image{
        height: 200px;  width: calc(90vw / 1);
      }

      .strokeme1{
        font-size: 26px !important;
      }

      #sec11{
        display: block;
      }

      .footer{
        display: block;
        height: 120px;
        padding-left: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .sec10-one{
        width: 80%;
        margin-bottom: 20px;
      }

      .sec10-two{
        width: 95%;
        height: 420px;
      }

      #sec10{
         display: block;
      }

      .news-card-con{
        display: block; justify-content: space-between; margin-top: -40px;
      }

      #sec9{
        display: block;
      }

      .strokemenews{
        font-size: 112px !important;
      }

      .circle{
        width: 300px;
        height: 300px;
      }

      .circle-con{
        margin-bottom: 0px;
      }

      .i-card-one-con{
        width: 70%;
      }

      .industrie-con{
        display: block;
      }

      /* .product-card{
        width: calc(80vw / 1) !important
      } */

      #sec6{
        width: 30%; margin-top: 170px 
      }

      .intra1{
        position: absolute; top: 10px; left: 0%;
      }

      .intra2{
        position: absolute; top: 160px; left: 0%;
      }
  
      .intra3{
        position: absolute; top: 310px; left: 0%;
      }

      .intra4{
        position: absolute; top: 460px; left: 0%;
      }
  
      .intra5{
        position: absolute; top: 620px; left: 0%;
      }
  
      .intra6{
        position: absolute; top: 780px; left: 0%;
        display: none;
      }
  
      .intra7{
        position: absolute; top: 920px; left: 0%;
        display: none;
      }

      .intra8{
        position: absolute; top: -70px; left: 42%;
        display: none;
      }

      .intra-card{
        width: 300px !important;
        height: 100px !important;
      }

      .leader-card{
        width: calc(65vw / 1);
        height: 350px;
      }

      #sec4{
        margin-left: 2%;
        margin-top: -90px; 
        display: none;
      }

      .strokeme{
        font-size: 82px !important;
      }

      .misson-1{
        width: 100%;
      }
  
      .misson-2{
        width: 100%;
      }
  
      .misson-3{
        width: 100%;
      }

      .about-us{
        width: 100% !important;
      }

      .about-us-con{
        display: block;
      }
     
      .image-container{
        width: 100% !important;
        height: 100vh;
      }
      .image-container2{
        /* display: none; */
      }
      .main-text{
        top: 35%;
         /* left: 15%; */
          /* width: 300px; */
      }
  }

    @media screen and (min-device-width: 1024px)  { 
      .leader-card{
        height: 360px;
      }
     
      .image-container{
        width: 80% !important;
        height: 100vh;
        
      }
      .main-text{
        top: 35%;
         /* left: 12%; */
          /* width: 470px; */
      }
      .strokeme{
        font-size: 165px !important;
      }
  }

    @media screen and (min-device-width: 1280px)  { 
     
      .image-container{
        width: 80% !important;
        height: 100vh;
      }
      .main-text{
        top: 35%;
      }
      .strokeme{
        font-size: 210px !important;
      }
      .leader-card{
        height: 555px;
      }
      .intra4 {
        top: 27%;
        right: 12%;
    }
    .intra3 {
      top: 43%;
      left: 9%;
  }

  .intra5 {
    top: 88%;
    left: 20%;
}
.intra6 {
  top: 75%;
  right: 15%;
}
.intra7 {
  top: 102%;
  right: 37%;
}
  }

    @media screen and (min-device-width: 1366px)  { 
     
      .image-container{
        width: 80% !important;
        height: 100vh;
      }
      .strokeme{
        font-size: 240px !important;
      }
  }

    @media screen and (min-device-width: 1440px)  { 
      .circle{
        width: 600px;
        height: 600px;
      }
      .circle-con{
        margin-bottom: 120px;
      }
      .image-container{
        width: 80% !important;
        height: 100vh;
      }
      .strokeme{
        font-size: 255px !important;
      }
  }

  @media screen and (min-device-width: 1680px)  { 
    .circle{
      width: 700px;
      height: 700px;
    }

    .circle-con{
      margin-bottom: 250px;

    }
    .main-text{
      top: 35%;
       /* left: 18%; */
        /* width: 470px; */
    }

    .strokeme{
      font-size: 300px !important;
    }
    
}

@media screen and (min-device-width: 1920px)  { 
  .circle{
    width: 700px;
    height: 700px;
    margin-bottom: 30px;
  }
  .circle-con{
    margin-bottom: 300px;
  }
  .strokeme{
    font-size: 355px !important;
  }
}

@media screen and (min-device-width: 2560px)  { 
  .circle{
    width: 900px;
    height: 900px;
    margin-bottom: 30px;
  }
  .circle-con{
    margin-bottom: 300px;
  }
  .strokeme{
    font-size: 240px !important;
  }
}

body{
  padding: 0;
  margin: 0;
  font-family: HN;
  background-color: lightgray;
}

.con{
  display: flex;
  position: relative;
  height: 100vh;
  /* display: ; */
}

.image-container{
  /* background-color: red; */
  width: 50%;
  height: 100vh;
  z-index: 9 !important;
  position: absolute;
  left: 0;
  
  
}
.one{
  background-image: url("/public/Header.png"); 
  /* object-fit: contain; */
  height: 100%;
  width: 100%;
  background-size: cover ;
   background-repeat: no-repeat;
  /* z-index: 999999 !important; */
  

}

.image-container2{
  background-color: blue;
  height: 100vh;
  width: 100%;
  /* position: absolute; */
  /* left: 30%; */
  top: 3px;
}

.image-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 80%);

}

.two{
   background-image: url("/public/Home.png");
  /* object-fit: contain; */
  height: 100%;
  background-size: cover ;
width: 100%;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 20%); */

  
}

.menu {
  width: 260px;
  text-align: right;
  padding: 40px;
  transition: 400ms;
}

.menu ul{
  list-style: none;
  font-family: HN;
}

.menu li {
  font-size: 26px;
  padding: 5px;
  font-weight: 600;
  /* margin-bottom: 8px; */

}
.menu li:hover{
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
}

.header{
  -webkit-box-shadow: inset 0 0 100px 100px #000;    
    -moz-box-shadow: inset 0 0 100px 100px #000;
    box-shadow: inset 0 0 100px 100px #000;

}

.strokemenews {
  color: lightgray;
  margin: 0;
	font-size: 242px;
	text-shadow: -1px 1px 0 #15ae66,
				  1px 1px 0 #15ae66,
				 1px -1px 0 #15ae66,
				-1px -1px 0 #15ae66;
}

.strokeme {
  color: lightgray;
  margin: 0;
  margin-left: 15%;
	font-size: 202px;
	text-shadow: -1px 1px 0 #15ae66,
				  1px 1px 0 #15ae66,
				 1px -1px 0 #15ae66,
				-1px -1px 0 #15ae66;
}

.strokeme1 {
  color: white;
  margin: 0;
	font-size: 42px;
  letter-spacing: 4px;
	text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white,
				-1px -1px 0 white;
}

.image-hover:hover{
  transition: 700ms;
  transform: scale(1.2, 1.3);
  z-index: 999999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.image-hover1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}

.image-hover1:hover{
background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 100%) !important;

}

.opacityOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  z-index: 1;
  background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 30%);
}
.opacityOverlay:hover { 
background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 100%);

}

.active {
  background-image: linear-gradient(to top, rgba(38,55,112, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}

.intra-card{
  width: 230px;
  height: 120px;
  background-color: white;
  padding-left: 20px;
  padding-top: 0px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.intra-card-logo{
  position: absolute;
  width: 50px;
  background-color: rgb(174, 223, 174);
  height: 50px;
  border-radius: 50%;
  top: -9px;
  right: -9px;
  display: flex;
}

.productsContainer{
  width: 100%;
  height:auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-top: 50px;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  padding: 2px;
}

.photoContainer {
  flex: 0 0 auto;
  width: 320px;
  height: 320px;
  margin-right: 35px;
  background-color: white;
}

.photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  position: relative;
}


.title {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%);
  text-align: center;
  z-index: 3;
  transition: font-size 0.3s, color 0.3s ;
}
.title2 {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%);
  text-align: center;
  z-index: 3;
  transition: font-size 0.3s, color 0.3s ;
}
.activeTitle1 {
  top: 43%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Neue Helvetica", sans-serif;
  color: #15ae66;
}
.activeTitle2 {
  top: 43%;
  left: 25%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Neue Helvetica", sans-serif;
  color: #15ae66;
}
.activeTitle3 {
  top: 43%;
  left: 20%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Neue Helvetica", sans-serif;
  color: #15ae66;
}
.activeTitle4 {
  top: 43%;
  left: 23%;
  font-weight: bold;
  font-size: 25px;
  font-family: "Neue Helvetica", sans-serif;
  color: #15ae66;
}


.icon {
  position: absolute;
  bottom: 16px;
  margin-right: 0px;
  left: 16px;
  color: grey;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  font-size: 24px;
}

.description {
  position: absolute;
  top: 65%;
  left: 60%;
  line-height: 23px;
  transform: translate(-50%);
  margin-left: 0px;
  text-align: flex-start;
  z-index: 3;
  color: transparent; /* Set the text color to transparent */
  transition: top 0.2s;
  transition: font-size 0.3s, color 0.3s;
}

.activeDiscription1 {
  top: 55%;
  width: 100%;
  margin-right:0;
  padding-right:25px;
  color: white;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 13px;
}
.activeDiscription2 {
  top: 53%;
  width: 100%;
  left: 58%;
  padding-right:30px;
  color: white;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 13px;
}
.activeDiscription3 {
  top: 55%;
  width: 100%;
  left: 58%;
  line-height: 25px;
  padding-right:38px;
  color: white;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 13px;
}

.activeDiscription4 {
  top: 55%;
  width: 100%;
  left: 58%;
  line-height: 25px;
  padding-right:50px;
  color: white;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 13px;
}

/* Hide the scrollbar for Webkit browsers */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
.container {
  scrollbar-width: none;
}

.active {
  background-color: rgba(38,55,112, 0.9);
}

.whiteHeadingText {
  color: white;
  display: flex;
  font-family: "Neue Helvetica", sans-serif;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100%;
  /* position: absolute; */
  /* top: 100px; */
  font-size: xx-large;
  transform: skewX(
    -19deg
  ); /* Adjust the skew direction to match the colorHalf element */
}



.greenHeading {
  font-weight: bold;
  font-size: 18px;
  font-family: "Neue Helvetica", sans-serif;
  color: #15ae66;
  padding-bottom: 10px;
}

.blueTagline {
  font-weight: bold;
  font-size: 25px;
  font-family: "Neue Helvetica", sans-serif;
  color: #263770;
}

.blueTaglineShort {
  font-weight: bold;
  font-size: 23px;
  font-family: "Neue Helvetica", sans-serif;
  color: #263770;
}

.blueTaglineShorter {
  font-weight: bold;
  font-size: 18px;
  font-family: "Neue Helvetica", sans-serif;
  color: #263770;
}

.greyParagraphText {
  font-size: 15px;
  font-weight: bold;
  color: #737778;
  font-family: "Neue Helvetica", sans-serif;
  text-align: start;
}

.imageText {
  color: rgba(255, 255, 255, 0.7);
  font-size: 40px;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
}

.headingInWhite {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 20px;
}

.taglineInWhiteShort {
  font-family: "Neue Helvetica", sans-serif;
  font-size:large ;
  color: white;
}

.taglineInWhiteSmall {
  font-family: "Neue Helvetica", sans-serif;
  font-size:small ;
  color: white;
}
.taglineInWhite {
  font-family: "Neue Helvetica", sans-serif;
  color: white;
}

.headingInBlack {
  color: black;
  font-weight: bold;
  font-family: "Neue Helvetica", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
}

.taglineInGrey {
  font-weight: bold;
  color: grey;
  font-family: "Neue Helvetica", sans-serif;
}

.greenBorderTransparentText {
  color: transparent;
  -webkit-text-stroke: 3px #15ae66; /* Set the border width and color */
  -moz-text-stroke: 3px #15ae66;
  -ms-text-stroke: 3px #15ae66;
  -o-text-stroke: 3px #15ae66;
  font-family: "Neue Helvetica", sans-serif;
  font-size: 250px;
  letter-spacing: 5px; /* Adjust the spacing between letters as needed */
  text-align: center;
}



@media (max-width: 768px) {
  .greenBorderTransparentText {
    font-size: 100px !important; /* Adjust the font size as needed */
  }
}


.input{
  width: 300px;
  height: 40px;
  border: none !important;
  outline: none !important;
  background-color: rgb(248, 245, 245);
  margin-right: 20px;
  margin-top: 30px;
}

.input::placeholder{
  padding-left: 10px;
}

/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 800px !important;

} */

.MuiPaper-root{
  /* width: 600px; */
  max-width: 900px !important;
}

.textarea{
  width: 620px;
  margin-top:  30px;
  border: none;
  outline: none;
  background-color: rgb(248, 245, 245);
}

.textarea::placeholder{
  padding-left: 10px;
  padding-top: 15px;

}